body {
    margin: 0;
    margin-top: 0;
    background-image: url('../img/background4.jpeg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    color: #fff;
    height: 100%;
}

@font-face {
    font-family: 'Butler';
    src: url('assets/fonts/Butler_Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('assets/fonts/Butler_Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.header {
    margin-top: 0;
    margin-bottom: 50px;
}

.header h1 {
    font-size: 15rem;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.5rem;
}

.content {
    background-color: rgba(0, 0, 0, 0.851);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.content h2 {
    font-size: 2rem;
}

.content a p {
    display: inline-block;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.content a p:hover {
    background-color: #0056b3;
}

.content p {
    font-size: 1.2rem;
    text-align: left;
    padding: 1%;
}

.social-section {
    text-align: center; 
    margin: 40px 0; 
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.projet-list {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.projet-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.725);
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ease;
    width: auto; 
}

.projet-list li:hover {
    transform: scale(1.1);
}

.projet-list img {
    width: 100%;
    height: auto;
}

.social-list {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.social-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.725);
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ease;
    width: auto; 
}

.social-list li:hover {
    transform: scale(1.1);
}

.social-list img {
    width: 60px;
    height: auto;
}

.skills-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.725);
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.skills-list li:hover {
    transform: scale(1.1);
}

.skills-list img {
    width: 60px;
    height: auto;
}

@media (max-width: 1024px) {
    .skills-list {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 600px) {
    .skills-list {
        grid-template-columns: repeat(2, 1fr);
    }
}